doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='./login.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title #{title}
  
  body
    .login
      p Login to continue
      form#signup__form
          label(for="name" ) Name 
          input(type='text' placeholder='Enter your name' required)
          label(for="email" ) Email 
          input(type='email' placeholder='Email' required)
          label(for="password") Password 
          input(type='password' placeholder='enter your password' required)
          label(for="passwordConfirm") Confirm Password 
          input(type='password' placeholder='confirm password' required)
          button(type='submit') Signup
      
      p Already have an account?
        a(href='/login') Login 

  script(type='module' src='/js/index.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js')
